<!-- _includes/tess-widget.html -->
<link rel="stylesheet" href="https://elixirtess.github.io/TeSS_widgets/css/tess-widget.css"/>
<div id="tess-widget" class="tess-widget tess-widget-list"></div>
<script>
function initTeSSWidgets() {
    TessWidget.Events(document.getElementById('tess-widget'), 'SimpleList', {
        params: {
            pageSize: {{ include.page_size | default: 5 }},
            q: '{{ include.query | uri_escape }}'
        },
        emptyText: "{{ include.empty_text | default: 'No upcoming events found.' | escape }}"
    });
}
</script>
<script 
    async 
    defer 
    src="https://elixirtess.github.io/TeSS_widgets/js/tess-widget-standalone.js" 
    onload="initTeSSWidgets()">
</script>
