{% if include.toolId %}
{%- assign testimonials = site.data.testimonials | where: "toolId",include.toolId %}
{% else %}
{%- assign testimonials = site.data.testimonials %}
{% endif %}
{% if testimonials.size > 0 %}
    {% unless include.hideHeading %}
    <h2>Testimonials</h2>
    {% endunless %}
    <div id="carouselTestimonials" class="carousel carousel-testimonials bg-primary-light rounded slide">
        <div class="carousel-indicators">
            {% assign maxIndex = testimonials.size | minus: 1 %}
            {% for index in (0..maxIndex) %}
            <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="{{ index }}" {%if index == 0 %}class="active"{% endif %} aria-current="true" aria-label="Slide 1"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for testimonial in testimonials %}
            <div class="carousel-item pt-3 pb-5{% if forloop.index == 1 %} active{% endif %}">
                <div class="d-flex justify-content-center">
                    <div class="card col-8">
                        <div class="card-body px-4">
                            <div class="testimonial">
                                {{ testimonial.story | markdownify }}
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="{{ testimonial.author.imageUrl }}" class="rounded-circle me-2 user-avatar">
                                <div>
                                    <strong class="d-block">{{ testimonial.author.name }}</strong>
                                    <span class="text-secondary">{{ testimonial.author.affiliation }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endif %}
