{% if include.toolId %}
{%- assign userStories = site.data.userStories | where: "toolId",include.toolId %}
{% else %}
{%- assign userStories = site.data.userStories %}
{% endif %}
<div id="carouselUserStories" class="carousel carousel-user-stories rounded slide">
    <div class="carousel-indicators">
        {% assign maxIndex = userStories.size | minus: 1 %}
        {% for index in (0..maxIndex) %}
        <button type="button" data-bs-target="#carouselUserStories" data-bs-slide-to="{{ index }}" {%if index == 0 %}class="active"{% endif %} aria-current="true" aria-label="Slide 1"></button>
        {% endfor %}
      </div>
    <div class="carousel-inner">
        {% for userStory in userStories %}
        <div class="carousel-item pt-3 pb-5{% if forloop.index == 1 %} active{% endif %}">
            <div class="d-flex justify-content-center">
                <div class="card col-8">
                    <div class="card-body px-4">
                        <div class="user-story">
                            {{ userStory.story | markdownify }}
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="{{ userStory.author.imageUrl }}" class="rounded-circle me-2 user-avatar">
                            <div>
                                <strong class="d-block">{{ userStory.author.name }}</strong>
                                <span class="text-secondary">{{ userStory.author.affiliation }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselUserStories"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselUserStories"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
