// Include here all custom classes to add extra styling on top of what the theme and bootstrap variables offer. 

//Example for highlighting the active page in the navigation:
/*-----Top navigation-----*/

.navbar-nav .nav-item>a {
    &.active {
        color: $white;
        background-color: $primary;
        border-radius: $border-radius;
    }
}

body {
    padding-top: 5.5rem;
}

header {
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

        .navbar-brand {
            min-height: 54px;
            position: relative;

            img {
                position: absolute;
                height: 60px;
                max-height: 60px;
                max-width: unset;
                top: -5px;
            }
        }
    }
}

footer {
    .copyright {
        background-color: inherit;
    }
}


#main { 
    h1 {
        font-weight: 700;

        .ff-body {
            font-weight: 500;
        }
    }
}

.carousel-user-stories {
    background-color: #CA054D;

    .carousel-item {
        min-height: 250px;

        .user-story {
            font-size: 1.15rem;
            font-style: italic;
        }

        .user-avatar {
            height: 4rem;
        }
    }
}

.bg-orange {
    background: $theme-orange;
}

.bg-green {
    background: $theme-green;
}

.bg-blue {
    background: $theme-blue;
}

.bg-red {
    background: $theme-red;
}

.count {
    position: relative;
    overflow: hidden;

    i {
        left: 2rem;
        top: 2rem;
        position: absolute;
        opacity: 0.5;
        font-size: 5rem;
        color: $white;
    }

    .count-number {
        padding-left: 4rem;
    }

    .count-number-title {
        font-size: 1.5rem;
    }
}
