<div class="container pb-2 py-3 mb-5 bg-red rounded text-white">
    <div class="row">
        <div class="col-2">
            <div class="custom-cell" style="width: 30px;"><h4><b>Resources</b></h4></div>
        </div>
        <div class="col-10">
            <div class="custom-cell" style="width: 300px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="custom-cell" style="width: 30px;"><img src="assets/img/training_coordinator.svg" alt="Training coordinator" width="30px"></div>
        </div>
        <div class="col-10">
            <div class="custom-cell" style="width: 300px;">TeSS</div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="custom-cell" style="width: 30px;"><img src="assets/img/trainer.svg" alt="Trainer" width="30px"></div>
        </div>
        <div class="col-10">
            <div class="custom-cell" style="width: 300px;">Tango</div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="custom-cell" style="width: 30px;"><img src="assets/img/trainee.svg" alt="Trainee" width="30px"></div>
        </div>
        <div class="col-10">
            <div class="custom-cell" style="width: 300px;">Train-the-Trainer</div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="custom-cell" style="width: 30px;"><img src="assets/img/trainee.svg" alt="Trainee" width="30px"></div>
        </div>
        <div class="col-10">
            <div class="custom-cell" style="width: 300px;">FAIR?</div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="custom-cell" style="width: 30px;"><img src="assets/img/trainee.svg" alt="Trainee" width="30px"></div>
        </div>
        <div class="col-10">
            <div class="custom-cell" style="width: 300px;">?</div>
        </div>
    </div>
</div>
