<div class="col-12">
    <h2>Resources</h2>
</div>
<div class="container py-3 mb-5 bg-red rounded text-white">
    <div class="row">
        <div class="col">
            <a href="tess" style="color: white;">
                <div><img src="assets/img/path323.svg" width="20px" style="margin-right: 10px;">TeSS</div>
            </a> 
        </div>
        <div class="col">
            <a href="train-the-trainer" style="color: white;">
                <div><img src="assets/img/path323.svg" width="20px" style="margin-right: 10px;">Train-the-Trainer</div>
            </a>
        </div>
        <div class="col">
            <a href="tango" style="color: white;">
                <div><img src="assets/img/path323.svg" width="20px" style="margin-right: 10px;">Tango</div>
            </a>
        </div>
        <div class="col">
            <a href="fair-training-handbook" style="color: white;">
                <div><img src="assets/img/path323.svg" width="20px" style="margin-right: 10px;">FAIR Training Handbook</div>
            </a>
        </div>
        <div class="col">
            <a href="learning-paths" style="color: white;">
                <div><img src="assets/img/path323.svg" width="20px" style="margin-right: 10px;">Learning Paths</div>
            </a>
        </div>
    </div>
</div>
