<div class="row mb-5 py-5">
    <div class="col">
        <a class="btn btn-blue d-block py-3" href="tess">
            TeSS
        </a> 
    </div>
    <div class="col">
        <a class="btn btn-blue d-block py-3" href="train-the-trainer">
            Train-the-Trainer
        </a> 
    </div>
    <div class="col">
        <a class="btn btn-blue d-block py-3" href="tango">
            Tango
        </a> 
    </div>
    <div class="col">
        <a class="btn btn-blue d-block py-3" href="fair-training-handbook">
            FAIR Training Handbook
        </a> 
    </div>
    <div class="col">
        <a class="btn btn-blue d-block py-3" href="learning-paths">
            Learning Paths
        </a> 
    </div>
</div>
