
<div class="row mb-5 py-5">
    {% assign numbers = site.data.index.numbers %}
    {% for number in numbers %}
    <div class="col-12 col-md-6 col-xl-3 mb-4">
        <div class="count bg-{{ number.color}} rounded py-4 pe-5">
            <i class="{{ number.icon }}"></i>
            <div class="count-number display-3 text-end text-white">
                {{ number.number }}
            </div>
            <div class="count-number-title text-end text-white mt-1">
                {{ number.title }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    /** 
     * Animate numbers when in viewport
     */
    jQuery(function ($) { // DOM ready and $ in scope
        $('.count-number').inViewport(function (px) { // Make use of the `px` argument!!!
            if (px > 0 && !this.initNumAnim) {
                this.initNumAnim = true; // Set flag to true to prevent re-running the same animation
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 2000,
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            }
        });

    });
</script>
