
<div class="row mb-5">
    <div class="col-12">
        <h2>SPLASH in Numbers</h2>
    </div>
    {% assign numbers = site.data.index.numbers %}
    {% for number in numbers %}
    <div class="col-4 col-md">
        <div class="count bg-{{ number.color}} rounded py-4">
            <i class="{{ number.icon }}"></i>
            <div class="count-number display-2 text-center text-white">
                {{ number.number }}
            </div>
            <div class="count-number-title text-center text-white mt-1">
                {{ number.title }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    /** 
     * Animate numbers when in viewport
     */

    // inViewport jQuery plugin
    // https://stackoverflow.com/a/26831113/383904
    $(function ($, win) {
        $.fn.inViewport = function (cb) {
            return this.each(function (i, el) {
                function visPx() {
                    var H = $(this).height(),
                        r = el.getBoundingClientRect(), t = r.top, b = r.bottom;
                    return cb.call(el, Math.max(0, t > 0 ? H - t : (b < H ? b : H)));
                } visPx();
                $(win).on("resize scroll", visPx);
            });
        };
    }(jQuery, window));


    jQuery(function ($) { // DOM ready and $ in scope
        $(".count-number").inViewport(function (px) { // Make use of the `px` argument!!!
            if (px > 0 && !this.initNumAnim) {
                this.initNumAnim = true; // Set flag to true to prevent re-running the same animation
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 1000,
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            }
        });

    });
</script>
