<div class="row justify-content-center mb-5">
    <div class="col-8 text-center">
        <img src="assets/img/main_logo.svg" alt="SPLASH logo" width="400px" class="mx-auto">
        <p class="text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
</div>
