<div class="row row-banner justify-content-center mb-5">
    <div class="col-12 text-center">
        <div class="display-4 text-white fw-bold">SPLASH</div>
        <p class="lead text-white mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12">
        <div class="px-3 py-5 text-center">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque augue tempus magna suscipit fringilla. Quisque neque nunc, fringilla a elit sed, tempor facilisis velit. Nulla facilisi. Sed ut sapien venenatis, tincidunt orci vitae, tristique magna. Curabitur tincidunt commodo odio vel faucibus.
            </p>
        </div>
    </div>
</div>
